<!DOCTYPE html>
<html>
    <head>
        <title>Bowling Alley</title>
    </head>
    <body>
        <h1> Buster's Best Bowling Alley</h1>
        <p>Regular Hours: Monday - Friday 9AM to 11PM</p>
        <p>Dates of Tournaments: 09/01, 11/01, 12/01</p>
        <p> Bowling alley bar menus</p>
        <p> reserve and pay </p>
    </body>
</html>
